Cvicenie T6-7/Messenger/.vs
Cvicenie T6-7/Messenger/ClientMauiTest/bin
.DS_Store
Cvicenie T6-7/Messenger/.idea
Cvicenie T6-7/Messenger/MauiApp1/bin
Cvicenie T6-7/Messenger/Messenger CV6/bin
Cvicenie T6-7/Messenger/MauiApp1/obj
